attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.11
coverage==6.3.1
furl==2.1.3
idna==3.3
jsonschema==4.4.0
multidimensional-urlencode==0.0.4
nose==1.3.7
orderedmultidict==1.0.1
pony==0.7.16
pook==1.0.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
pyrsistent==0.18.1
requests==2.27.1
retailcrm==5.1.2
six==1.16.0
urllib3==1.26.8
xmltodict==0.12.0
